Screen {
    background: $surface;
}

ContentSwitcher {
    column-span: 3;
    row-span: 2;
    width: 100%;
    height: 100%;
}

#display {
    width: 60%;
    height: auto;
    border: round $primary;
    padding: 2 8;
    content-align: center middle;
    text-align: center;
}

#input {
    column-span: 3;
    dock: bottom;
}