Screen {
    background: $surface;
    align: center top;
    overflow-y: hidden;
}

Rule {
    width: 0.2;
}

#display {
    width: 60%;
    height: auto;
    border: round $primary;
    padding: 2 8;
    content-align: center middle;
    text-align: center;
    overflow-y: hidden;
}

#city-input {
    height: auto;
    width: 100%;
    dock: bottom;
}

#metric-container {
    height: auto;
    width: 100%;
    dock: top;
    margin-top: 0;
}

#location-card {
    border: round $secondary;
}

#clock {
    border: round $secondary;
    text-align: center;
}

.stack {
    overflow-y: auto;
    scrollbar-size: 0 0;
    scrollbar-visibility: hidden;
}

.details {
    width: 1fr;
    height: auto;
    margin: 0 0;
    content-align: center middle;
    align-vertical: top;
}

.metric {
    width: 1fr;
    height: auto;
    border: round $primary;
    margin: 0 1;
    content-align: center middle;
    align-vertical: top;
    /*align: center top;*/
}

.hide {
    display: none;
}

.start {
    display: block;
}